@{
    ViewBag.Title = "About";
}



<body style="background-color:#E8BB39;">
</body>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Pagina para CRUD</p>


<h><img src="~/NewFolder1/libreria.jpg" height="1000" width="1000"</h>
