@{
    ViewBag.Title = "Contacto";
}


<body style="background-color:#E8BB39;">
</body>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dionis Joel Valerio Lopez<br />
    <br />
    <abbr title="Matricula">Matricula:</abbr>
    2018-7115
</address>

<h><img src="~/NewFolder1/culto.jpg" </h>

