@{
    ViewBag.Title = "BIBLIOTECA";
}


<body style="background-color:#E8BB39;">
</body>






<div class="h-1">
    <h1> BIBLIOTECA JUAN PABLO DUARTE</h1>


</div>


<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Usuario", "Index", "USUARIO2")</h2>
        <p>
            Si da click aqui podra acceder al CRUD de la tabla Usuario
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Libros", "Index", "LIBRO2")</h2>
        <p>Si da click aqui podra acceder al CRUD de la tabla Libro</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Libreria", "Index", "LIBRERIAS")</h2>
        <p>
            Si da click aqui podra acceder al CRUD de la tabla Libreria
        </p>
    </div>

</div>

<h><img src="~/NewFolder1/romans.jpg" height="1000" width="1000"</h>


