@{
    ViewBag.Title = "BIBLIOTECA";
}

    <style type="text/css">
        body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: black;
    background-color: #E8BB39 }
  ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: blue }
  a:visited {
    color: purple }
    </style>






<div class="h-1">
    <h1> BIBLIOTECA JUAN PABLO DUARTE</h1>


</div>


        <li>@Html.ActionLink("Usuario", "Index", "USUARIO2")</li>
        <p>
            Si da click aqui podra acceder al CRUD de la tabla Usuario
        </p>

    
        <li>@Html.ActionLink("Libros", "Index", "LIBRO2")</li>
        <p>Si da click aqui podra acceder al CRUD de la tabla Libro</p>
    
    
        <li>@Html.ActionLink("Libreria", "Index", "LIBRERIAS")</li>
        <p>
            Si da click aqui podra acceder al CRUD de la tabla Libreria
        </p>
    



<h><img src="~/NewFolder1/romans.jpg" height="1000" width="1000"</h>


